@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Amatic+SC);
/* line 6, ../scss/style.scss */
#body-wrapper {
  background-color: #DDF2F8;
}

/* line 10, ../scss/style.scss */
.game-wrapper {
  padding: 40px 0;
  text-align: center;
}
/* line 13, ../scss/style.scss */
.game-wrapper h1, .game-wrapper .restart-btn {
  font-family: "Amatic SC", cursive;
}
/* line 16, ../scss/style.scss */
.game-wrapper button, .game-wrapper p, .game-wrapper h2, .game-wrapper label {
  font-family: "Josefin Sans", sans-serif;
}
/* line 19, ../scss/style.scss */
.game-wrapper label, .game-wrapper p {
  font-weight: 100;
  font-size: 20px;
}
/* line 23, ../scss/style.scss */
.game-wrapper h1 {
  font-weight: 900;
  font-size: 66px;
}
/* line 27, ../scss/style.scss */
.game-wrapper h2 {
  font-size: 27px;
}
/* line 30, ../scss/style.scss */
.game-wrapper button {
  font-weight: 900;
  font-size: 16px;
}

/* line 36, ../scss/style.scss */
.hidden {
  display: none;
}

/* line 40, ../scss/style.scss */
.progress-label {
  text-align: left;
}

/*
==============================================
buttons
==============================================
*/
/* line 51, ../scss/style.scss */
.restart-btn {
  cursor: pointer;
  font-size: 40px;
  font-weight: 900;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 45px;
  color: rgba(0, 0, 0, 0.2);
}
/* line 60, ../scss/style.scss */
.restart-btn:hover {
  color: rgba(0, 0, 0, 0.5);
}

/* line 65, ../scss/style.scss */
.start-game-btn {
  padding-top: 20px;
}

/*
==============================================
images
==============================================
*/
/* line 74, ../scss/style.scss */
.egg-picture {
  padding: 45px 0;
}

/* line 78, ../scss/style.scss */
.image-container {
  padding: 45px 0;
}

/* line 82, ../scss/style.scss */
.image {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

/* line 89, ../scss/style.scss */
.bunny {
  content: url(../img/bunny.gif);
}

/* line 93, ../scss/style.scss */
.cat {
  content: url(../img/cat.jpg);
}

/* line 97, ../scss/style.scss */
.hamster {
  content: url(../img/hamster.png);
}

/* line 101, ../scss/style.scss */
.love, .feed, .play {
  position: absolute;
  right: 230px;
}

/* line 106, ../scss/style.scss */
.love {
  content: url(../img/hearts.gif);
}

/* line 110, ../scss/style.scss */
.feed {
  content: url(../img/fruits.gif);
}

/* line 114, ../scss/style.scss */
.play {
  content: url(../img/play.gif);
}

/*
==============================================
fade-in
==============================================
*/
/* line 124, ../scss/style.scss */
.fade-in {
  animation-name: fade-in;
  -webkit-animation-name: fade-in;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes fade-in {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  60% {
    -webkit-transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
/*
==============================================
floating
==============================================
*/
/* line 179, ../scss/style.scss */
.floating {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
